@import url('../../variables/Variables.module.scss');

.howWorks {
  background: var(--color-white);
  padding-top: 170px;
}

.container {
  display: flex;
  height: 800px;
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px 0;
  padding-right: 50px;
  font-family: 'Inter-Medium';
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 0;
  padding-left: 40px;
  padding-top: 40px;
}

.titleFirst {
  color: var(--color-black);
  font-family: 'Inter-Regular';
  font-size: 24px;
}

.titleSecond {
  color: var(--color-white);
  font-family: 'Inter-ExtraBold';
  font-size: 36px;
  text-transform: uppercase;
}

.orangeLine {
  position: absolute;
  height: 800px;
  width: 100vw;
  background: var(--color-orange);
  right: 450px;
  border-top-right-radius: 50px;
  z-index: 0;
}

.logo {
  cursor: pointer;

  img {
    height: 49px;
    object-fit: contain;
  }
}

.menu {
  display: flex;
  gap: 0 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white);
  z-index: 100;

  li a {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--color-white);
    transition: 0.5s;
    cursor: pointer;
  }
  li:hover {
    opacity: 0.7;
  }
}

.otherInfo {
  display: flex;
  position: relative;
  flex-direction: column;
}

.contacts,
.contacts a {
  color: var(--color-white);
  font-family: 'Inter-ExtraBold';
  font-size: 48px;
  padding-top: 130px;
}

.city {
  color: var(--color-white);
  font-family: 'Inter-Bold';
  font-size: 24px;
  padding-top: 60px;
}

.messangers {
  margin: 70px 0;
  height: 100px;

  img {
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
}

.maps {
  display: flex;
  align-items: center;
  height: 800px;
  right: 130px;
  position: absolute;

  img {
    height: 40%;
    border-radius: 50px;
    object-fit: contain;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  position: relative;
  padding-bottom: 50px;

  p,
  p a {
    color: var(--color-black);
    font-family: 'Inter-Medium';
    font-size: 14px;
  }

  p a {
    cursor: pointer;
  }
}

@media (max-width: 1280px) {
  .containerHeader {
    flex-direction: column;
    gap: 20px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }

  .contacts,
  .contacts a {
    font-size: 32px;
    padding-top: 80px;
  }

  .container {
    width: 80%;
  }

  .orangeLine {
    right: 250px;
  }

  .container,
  .orangeLine,
  .maps {
    height: 600px;
  }

  .messangers {
    height: 50px;
    margin: 20px 0;
  }
}

@media (max-width: 1024px) {
  .menu {
    font-size: 12px;
  }

  .container {
    width: 90%;
  }

  .maps {
    right: 30px;
  }

  .orangeLine {
    right: 130px;
  }

  .contacts,
  .contacts a {
    font-size: 24px;
  }

  .container {
    padding-left: 20px;
  }
}

@media (max-width: 728px) {
  .howWorks {
    padding-top: 70px;
  }

  .orangeLine {
    right: 30px;
    height: 550px;
  }

  .container {
    height: 550px;
    width: 100%;
  }

  .menu {
    display: none;
  }

  .maps {
    position: static;
    z-index: 10;
    height: 150px;
    justify-content: flex-end;

    img {
      height: 100%;
    }
  }

  .contacts,
  .contacts a {
    font-size: 24px;
    padding-top: 10px;
  }

  .city {
    padding-top: 40px;
  }

  .messangers {
    margin-bottom: 0;
  }

  .footer {
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
    padding: 20px 0;

    p,
    p a {
      width: 46%;
      font-size: 10px;
    }
  }
}
