@import url('../../variables/Variables.module.scss');

.howWorks {
  background: var(--color-white);
  padding-top: 170px;
}

.container {
  display: flex;
  height: 800px;
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px 0;
  padding-right: 50px;
  font-family: 'Inter-Medium';
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 0;
  padding-left: 40px;
  padding-top: 40px;
}

.titleFirst {
  color: var(--color-black);
  font-family: 'Inter-Regular';
  font-size: 24px;
}

.titleSecond {
  color: var(--color-white);
  font-family: 'Inter-ExtraBold';
  font-size: 36px;
  text-transform: uppercase;
}

.orangeLine {
  position: absolute;
  height: 800px;
  width: 100vw;
  background: var(--color-orange);
  right: 450px;
  border-top-right-radius: 50px;
  z-index: 0;
}

.logo {
  cursor: pointer;

  img {
    height: 49px;
    object-fit: contain;
  }
}

.menu {
  display: flex;
  gap: 0 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white);
  z-index: 100;

  li a {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--color-white);
    transition: 0.5s;
    cursor: pointer;
  }
  li:hover {
    opacity: 0.7;
  }
}

.otherInfo {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 100px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contactsPhone,
.contactsMail {
  color: var(--color-white);
  font-family: 'Inter-ExtraBold';
  font-size: 48px;
}

.contactsMail {
  margin-top: 10px;
}

.city {
  color: var(--color-white);
  font-family: 'Inter-Bold';
  font-size: 24px;
  padding-top: 60px;
}

.place {
  width: 200px;
  color: var(--color-white);
  font-family: 'Inter-Regular';
  font-size: 14px;
  padding-top: 5px;
}

.messangers {
  margin: 50px 0;
  height: 60px;
}

.messangersLink {
  display: block;
  height: 60px;
  width: 60px;
}

.messangersImg {
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.maps {
  display: flex;
  align-items: center;
  height: 800px;
  right: 30px;
  position: absolute;
}

.mapsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-gray);
  height: 480px;
  width: 720px;
  border-radius: 50px;
}

.mapGoogle {
  width: 640px;
  height: 400px;
  border-radius: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  position: relative;
  padding-bottom: 50px;

  p,
  p a {
    color: var(--color-black);
    font-family: 'Inter-Medium';
    font-size: 14px;
  }

  p a {
    cursor: pointer;
  }
}

@media (max-width: 1280px) {
  .containerHeader {
    gap: 20px;
  }

  .menu {
    display: flex;
    justify-content: space-between;

    li a {
      font-family: 'Inter-Regular';
      font-size: 12px;
    }
  }

  .contactsPhone,
  .contactsMail {
    font-size: 32px;
  }

  .container {
    width: 80%;
  }

  .orangeLine {
    right: 250px;
  }

  .container,
  .orangeLine,
  .maps {
    height: 600px;
  }

  .maps {
    right: 10px;
  }

  .mapsContainer {
    height: 300px;
    width: 450px;
    border-radius: 30px;
  }

  .mapGoogle {
    width: 400px;
    height: 250px;
    border-radius: 10px;
  }

  .messangers {
    height: 35px;
    margin: 20px 0;
  }

  .messangersLink {
    height: 35px;
    width: 35px;
  }

  .otherInfo {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }

  .container {
    height: 1000px;
    width: 90%;
    gap: 40px;
  }

  .containerHeader {
    order: 0;
  }

  .maps {
    position: static;
    height: 450px;
    order: 1;
    z-index: 20;
  }

  .otherInfo {
    order: 2;
  }

  .footer {
    flex-direction: column-reverse;
    gap: 20px;
    order: 3;
    padding-bottom: 20px;
  }

  .mapsContainer {
    height: 350px;
    width: 675px;
    min-width: 675px;
    border-radius: 30px;
  }

  .mapGoogle {
    height: 300px;
    width: 625px;
    min-width: 625px;
    border-radius: 10px;
  }

  .orangeLine {
    height: 1050px;
    right: 130px;
  }

  .contacts {
    padding-top: 0;
  }

  .contactsPhone,
  .contactsMail {
    font-size: 40px;
  }

  .container {
    padding-left: 20px;
  }

  .dataFooter {
    margin-top: 40px;
  }
}

@media (max-width: 728px) {
  .howWorks {
    padding-top: 70px;
  }

  .container {
    width: 100%;
  }

  .orangeLine {
    right: 30px;
  }

  .maps {
    width: 100%;
  }

  .mapsContainer {
    width: 100%;
    min-width: auto;
  }

  .mapGoogle {
    width: 90%;
    min-width: auto;
  }
}

@media (max-width: 528px) {
  .contactsPhone,
  .contactsMail {
    font-size: 30px;
  }
}

@media (max-width: 428px) {
  .contactsPhone,
  .contactsMail {
    font-size: 25px;
  }
}
