@import url('../../variables/Variables.module.scss');

.firstInfo {
  background: var(--color-orange);
  padding: 45px 0 60px 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100px;
  font-family: 'Inter-ExtraBold';
  font-size: 92px;
  color: var(--color-white);
  text-transform: uppercase;
}

.descriptions {
  display: flex;
  max-width: 550px;
  gap: 30px;
  padding-top: 40px;
}

.description {
  display: flex;
  height: 60px;
  align-items: center;
  gap: 12px;
  font-family: 'Inter-Regular';
  font-size: 14px;
  color: var(--color-white);

  img {
    height: 100%;
    object-fit: contain;
  }
}

.buttons {
  display: flex;
  padding-top: 60px;
  gap: 30px;
}

.buttonRegistration,
.buttonCheck {
  min-width: 300px;
  border-radius: 50px;
  font-size: 20px;
  font-family: 'Inter-Bold';
  text-transform: uppercase;
  padding: 17px 0;
  border: 2px solid var(--color-gray);
}
.buttonRegistration {
  color: var(--color-white);
  background: var(--color-black);
}
.buttonCheck {
  color: var(--color-black);
  background: var(--color-white);
}

@media (max-width: 1024px) {
  .title {
    font-size: 76px;
  }

  .buttonRegistration,
  .buttonCheck {
    min-width: 250px;
    font-size: 17px;
  }

  .descriptions {
    display: flex;
  }

  .description {
    width: 380px;
    img {
      width: 50px;
    }
  }
}

@media (max-width: 768px) {
  .firstInfo {
    padding: 30px 0;
    min-height: calc(80vh - 140px);
  }

  .container {
    min-height: calc(80vh - 130px);
    justify-content: space-between;
  }

  .title {
    margin-top: 10px;
    font-size: 55px;
  }

  .descriptions {
    flex-direction: column;
    gap: 50px;
  }

  .description {
    height: 50px;
    font-size: 20px;
    gap: 20px;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .buttonRegistration,
  .buttonCheck {
    width: 300px;
    font-size: 20px;
    padding: 20px 30px;
  }
}

@media (max-width: 528px) {
  .title {
    font-size: 45px;
  }

  .description {
    width: 300px;
  }
}

@media (max-width: 428px) {
  .title {
    font-size: 37px;
  }

  .description {
    font-size: 20px;
  }
}

@media (max-width: 385px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 30px;
  }
}
