:root {
  --color-white: #ffffff;
  --color-gray: #383838;
  --color-black: #000000;
  --color-orange: #ff6933;
  --color-darkorange: #fd571b;
  --color-blue: #24b7e6;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../assets/fonts/Inter-Medium.otf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../assets/fonts/Inter-Regular.otf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../assets/fonts/Inter-Bold.otf');
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('../assets/fonts/Inter-ExtraBold.otf');
}
