@import url('../../variables/Variables.module.scss');

.howWorks {
  background: var(--color-white);
  padding-top: 170px;
}

.container {
  display: flex;
  height: 470px;
  position: relative;
  justify-content: flex-end;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 0;
  padding-left: 40px;
  padding-top: 40px;
}

.titleFirst {
  color: var(--color-black);
  font-family: 'Inter-Regular';
  font-size: 24px;
}

.titleSecond {
  color: var(--color-white);
  max-width: 200px;
  font-family: 'Inter-ExtraBold';
  font-size: 36px;
  text-transform: uppercase;
}

.orangeLine {
  position: absolute;
  height: 364px;
  width: 100vw;
  background: var(--color-orange);
  right: 50px;
  border-radius: 50px;
  z-index: 0;
}

.imgBikeContainer {
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.imgBike {
  height: 388px;
  object-fit: contain;
}

.steps {
  display: flex;
  gap: 30px;
  align-self: flex-end;
  z-index: 1;
}

.step {
  display: flex;
  position: relative;
  height: 330px;
  width: 350px;
  flex-direction: column;
  background: var(--color-black);
  padding: 30px;
  border-radius: 25px;

  .number {
    position: absolute;
    font-family: 'Inter-ExtraBold';
    font-size: 150px;
    top: -142px;
    left: -10px;
    opacity: 0.3;
  }

  .stepTitle {
    color: var(--color-white);
    font-family: 'Inter-Regular';
    font-size: 24px;
    padding-bottom: 25px;
  }

  .stepSubTitle {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-bottom: 20px;
  }

  .point {
    color: var(--color-orange);
    font-family: 'Inter-Regular';
    font-size: 16px;
  }

  p {
    color: var(--color-white);
    font-family: 'Inter-Regular';
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .step {
    height: 300px;
    width: 250px;
  }
}

@media (max-width: 940px) {
  .imgBike {
    height: 310px;
  }
}

@media (max-width: 778px) {
  .imgBike {
    height: 250px;
  }
}

@media (max-width: 728px) {
  .container {
    flex-direction: column;
  }

  .imgBikeContainer {
    display: none;
  }

  .title {
    top: 0;
    padding-left: 0;
  }

  .steps {
    flex-direction: column;
    width: 100%;
    gap: 150px;
  }

  .step {
    align-self: flex-end;
    margin-right: 20px;
    height: auto;
    width: 70%;
  }

  .container,
  .orangeLine {
    height: 900px;
  }

  .howWorks {
    padding-top: 120px;
  }

  .howWorks {
    padding-top: 80px;
  }

  .title {
    padding-left: 0;
  }
}

@media (max-width: 400px) {
  .steps {
    gap: 120px;
  }

  .step {
    width: 100%;
    margin: 0;
  }

  .step {
    .number {
      top: -105px;
      font-size: 110px;
    }
  }
}
