.header {
  position: sticky;
  top: 0;
  background-color: var(--color-orange);
  z-index: 1000;
  transition: 1s;
}

.header.active {
  background-color: var(--color-darkorange);
}

.burgerMenu {
  display: none;
  position: relative;
  width: 32px;
  height: 18px;
  order: 3;
}

.menuBtn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}

.menuIcon,
.menuIcon::before,
.menuIcon::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.5;
}

.menuIcon::before {
  content: '';
  top: -8px;
}

.menuIcon::after {
  content: '';
  top: 8px;
}

.menuIcon.active {
  transform: rotate(45deg);
}

.menuIcon.active::before {
  top: 0;
  transform: rotate(0);
}

.menuIcon.active::after {
  top: 0;
  transform: rotate(90deg);
}

.menu {
  display: flex;
  gap: 0 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white);

  li a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: 12px;
    transition: 0.5s;
    cursor: pointer;
  }
  li a:hover {
    opacity: 0.7;
  }
}

.logoMobile {
  display: none;
  cursor: pointer;
}

.logoMobileImg {
  height: 49px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .mobileMenu {
    display: flex;
    width: 100%;
    justify-content: center;
    order: 4;
  }
}

@media (max-width: 768px) {
  .burgerMenu {
    display: block;
    z-index: 1100;
  }

  .burgerMenu.active {
    position: fixed;
  }

  .mobileMenu {
    display: none;
    padding: 20px;
    position: absolute;
    height: 100vh;
    width: 70%;
    background: var(--color-orange);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 0;
    right: 0;
    z-index: 1000;
  }

  .mobileMenu.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .logoMobile.active {
    display: block;
  }

  .menu {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    z-index: 1000;
    order: 1;
  }

  .menu.active {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
  }

  .blackBack {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: var(--color-black);
    top: 0;
    left: 0;
    opacity: 0.6;
  }

  .menu {
    li a {
      color: var(--color-black);
    }
  }

  .blackBack.active {
    display: block;
  }
}
